@model List<AplikacjaMVC.Models.Movie>

<h2>Lista filmów</h2>
<hr />

@if (Model.Count == 0)
{
    <p>Brak filmów w bazie.</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Tytuł</th>
                <th>Rok</th>
                <th>Gatunek</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Title</td>
                <td>@m.Year</td>
                <td>@m.Genre</td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" href="/?view=edit&id=@m.Id">Edytuj</a>
                    <a class="btn btn-sm btn-outline-danger" href="/Movie/Delete?id=@m.Id">Usun</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

<a href="/?view=add">Dodaj nowy film</a>